@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #88A255, #B3D26D);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2f2f30a6;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #2F2F30;
    text-align: center;
    text-shadow: 1px 1px 2px #2f2f309c);
}

h2 {
    color: #D9299B;
}
p {
    text-align: justify;
}